@use 'variables';

.main {
    padding-top: 32px;
    font-family: variables.$textFont;

    &__title {
        font-size: 1.5em;
        padding-bottom: 16px;

        @media (max-width: 767px) {
            font-size: 1.7em;
            text-align: center;
        }

        @media (min-width: 768px) and (max-width:1023px) {
            font-size: 2em;
            text-align: center;
        }
    }

    .description{

        width: 100%;

        .container {
            display: flex;
            align-items: center;
            gap: 40px;
            padding: 32px 0;

            @media (max-width: 767px) {
                display: block;
            }

            @media (min-width: 768px) and (max-width:1023px) {
                font-size: 16px;
            }
            
            &.reverse {
                flex-direction: row-reverse;
            }
        }

        &__text {
            text-align: justify;

            @media (max-width:767px) {
                margin-bottom: 16px;
            }
        }

        &__img {
            aspect-ratio: 1 / 1;
            width: 100%;
            height: 100%;
            border-radius: 8px;
            box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.511);
        }

        &.paris {
        background: linear-gradient(to bottom, variables.$textColor, variables.$blue1);
        }

        &.roma {
            background: linear-gradient(to bottom, variables.$blue1, variables.$blue2);
            color: variables.$textColor;
        }
        &.madrid {
            background: linear-gradient(to bottom, variables.$blue2, variables.$blue3);
            color: variables.$textColor;
        }
        &.salzburg {
            background: linear-gradient(to bottom, variables.$blue3, variables.$blue4);
            color: variables.$textColor;
        }
        &.viena {
            background: linear-gradient(to bottom, variables.$blue4, variables.$blue5);
            color: variables.$textColor;
        }
        &.cracovia {
            background: linear-gradient(to bottom, variables.$blue5, variables.$blue6);
            color: variables.$textColor;
        }


    }

        


    
}