@use 'variables';

.hero {
    width: 100%;
    position: relative;

    .gradient {
        background-color: rgb(0, 0, 0);
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0.7;
    }

    &__carousel {
        width: 100%;

        &__img {
            max-width: 100%;
            height: auto;
        }
    }

    .container {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;

        > h1 {
            font-family: variables.$titleFont;
            color: variables.$textColor;
            font-size: 3em;
            margin-bottom: 16px;
        }

        > p {
            font-family: variables.$textFont;
            color: variables.$textColor;
            font-size: 2em;
        }

        .hero__temporizador {
            font-family: variables.$titleFont;
            color: variables.$textColor;
            width: max-content;
            display: block;
            font-size: 3em;
            font-weight: 500;
            margin: 8px auto;
            padding: 16px 32px 48px 32px;
            background-color: variables.$blue1;
            border-radius: 16px;
            border-top: 1px solid white;
            border-bottom: 1px solid black;
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.673);
            position: relative;
            text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.51);
            color: rgb(17, 19, 58);

            .hero__data-viagem {
                font-family: variables.$textFont;
                color: variables.$textColor;
                font-size: .4em;
                position: absolute;
                top: 70%;
                left: 50%;
                transform: translateX(-50%);
                color: rgba(17, 19, 58, 0.808);
            }
        }

        .hero__btn {
            margin-top: 32px;
            background-color: variables.$textColor;
            color: variables.$blue1;
            padding: 16px;
            font-family: variables.$textFont;
            font-size: 1em;
            font-weight: bolder;
            border: none;
            border-radius: 8px;
            text-transform: uppercase;
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.673);
            cursor: pointer;
        }
    }
}