$titleFont: Sora, sans-serif;
$textFont: Quicksand, sans-serif;

$textColor: #fff;
$blue1: rgb(99, 127, 201);
$blue2: rgb(51, 33, 169);
$blue3: rgb(73, 31, 128);
$blue4: rgb(71, 29, 87);
$blue5: rgb(121, 40, 121);
$blue6: rgb(66, 12, 41);